body,html{
    width: 100%;
    height: 100%;
}

body{
    background: url(../images/vivo-banner-z3ys-bg.jpg) ;
    background-size: cover;
    position: relative;
}

.progress{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #f00; */
}

.progress li{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 4px;
    /* background-color: #f00; */
}

.progress li span{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: auto;
    background-color: #666;
    /* rgba(0, 0, 0, .2) */
    transition: all 0.1s linear;
}


.progress li span::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f00;
    transition: all 0.3s 0.1s ease-out;
}
.progress li:hover span::after{
    height: 4px;
    width: 40px;
    transition: width 2s 0.1s ease-in;
}